#mainNav{
    border-bottom: 8px solid #18BC9C;    
}

#skipnav{
    margin-bottom: 80px;
}

#profile-img {
    text-align: center;
}

#profile-img .img-responsive{
    display: -webkit-inline-box;
    margin-bottom: 25px;
}
#profile-img .btn-outline{
    color: #233140;
    border-color: #233140;
}
#profile-img .btn-outline:hover{
    color: #18BC9C;
    background-color: #233140;
}
#contact-details{
    text-align: left;
    padding-left: 25px;
}
